__pycache__/
.pytest_cache
.coverage*
.coverage-reports/
.DS_Store
.venv
venv/
env/
artifacts/
coverage-reports/
tools/
venv
**/*.mpy
typeshed/
firmware.uf2
rpi/

# libs
src/*/lib/*
!src/*/lib/requirements.txt
!src/flight-software/lib/proveskit_rp2040_v4/
!src/flight-software/lib/arducam/
